<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BlogModelContainer" connectionString="metadata=res://*/BlogModel.csdl|res://*/BlogModel.ssdl|res://*/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PIANO\SQLEXPRESS;Initial Catalog=Inspira.Blog;Persist Security Info=True;User ID=inspira;Password=1n5p1r4!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
