<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Inspira_Blog" connectionString="metadata=res://Inspira.Blog.DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.csdl|res://Inspira.Blog.DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.ssdl|res://Inspira.Blog.DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PIANO\SQLEXPRESS;Initial Catalog=Inspira.Blog;UID=inspira;PWD=1n5p1r4!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>