<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Inspira_Blog" connectionString="metadata=res://Web.Generics.SampleDomain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.csdl|res://Web.Generics.SampleDomain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.ssdl|res://Web.Generics.SampleDomain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PIANO\SQLEXPRESS;Initial Catalog=Inspira.Blog;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>