@model dynamic

@{
    View.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

		<!-- page body -->
        <div id="bd"> 
            <div id="yui-main"> 
                <div class="yui-b"><div class="yui-g"> 
                    <h2>Welcome to the Inspira Blog Engine.</h2>
                    <p>This is your dashboard</p>
 
                    <!-- Tables -->
                    <div class="block"> 
                        <div class="hd"> 
							<h2>Dashboard</h2>
                        </div> 
                        <div class="bd"> 
                            <h3>Stats</h3>

							Meus blogs <br />
							Quantidade de posts na semana passada<br />
							Quantidade de comentários na semana passada<br />
							Visitantes únicos<br />

                        </div> 
                    </div> 
                    
                </div> 
                </div> 
            </div> 
            <div id="sidebar" class="yui-b"> 
 
                <!-- Sidebar block (same markup as basic block) --> 
                <div class="block"> 
                    <div class="hd"> 
                        <h2>Sidebar Block  &larr; This is an H2 or H3</h2> 
                    </div> 
                    <div class="bd"> 
                        <p>This sidebar block uses the exact same markup as the main body blocks. This lets you move them around easily - as they automatically resize to fit the available space.</p> 
                    </div> 
                </div> 
                
            </div> 
        </div> 
		<!-- /page body --> 

